@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  list-style-type: none;
}

li {
  margin: 4rem;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

.pages-container {
  margin-left: 6rem;
}

.pages-container span {
  padding-right: 10px;
}

.pages-container a {
  padding: 5px;
}

.detail-container {
  text-align: center;
}

.subcontainer {
  margin-top: 2.5rem;
}

.subcontainer div {
  margin-top: 10px;
  font-weight: 600;
}

button {
  margin-top: 7rem;
  margin-bottom: 3rem;
  background-color: #3abef2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.list-image-container {
  margin-right: 1rem;
}

.list-image-container img {
  height: 10rem;
  width: 10rem;
  border-radius: 250px;
}

.image-container img {
  height: 30rem;
  width: 30rem;
  border-radius: 250px;
}

.info-container {
  margin-top: 12px;
}

.bio {
  width: 30rem;
  margin: 0 auto;
  font-style: italic;
}
